
.ft-12 {
    font-size: 12px;
}

.ft-14 {
    font-size: 14px;
}

.ft-16 {
    font-size: 16px;
}

.ft-18 {
    font-size: 18px;
}

.ft-20 {
    font-size: 20px;
}

.ft-22 {
    font-size: 22px;
}

.ft-24 {
    font-size: 24px;
}

.ft-26 {
    font-size: 26px;
}

.ft-28 {
    font-size: 28px;
}

.ft-30 {
    font-size: 30px;
}

.ft-32 {
    font-size: 32px;
}
