.ft-black {
    color: #1a1a1a
}

.ft-darkgray {
    color: #333
}

.ft-gray {
    color: #808080
}

.ft-lightgray {
    color: #a6a6a6
}

.ft-blue {
    color: #0be
}

.ft-white {
    color: #fff
}

.ft-orange {
    color: #ff8208
}

.ft-green {
    color: #00a757
}

.ft-red {
    color: #f4333c
}