a {
    color: #0be;
    cursor: pointer
}

a:hover {
    text-decoration: underline
}

body {
    font-family:  tahoma, arial, 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1','STXihei','SimHei'
}

/*[attribute]	用于选取带有指定属性的元素。*/
/*[attribute=value]	用于选取带有指定属性和值的元素。*/
/*[attribute~=value]	用于选取属性值中包含指定词汇的元素。*/
/*[attribute|=value]	用于选取带有以指定值开头的属性值的元素，该值必须是整个单词。*/
/*[attribute^=value]	匹配属性值以指定值开头的每个元素。*/
/*[attribute$=value]	匹配属性值以指定值结尾的每个元素。*/
/*[attribute*=value]	匹配属性值中包含指定值的每个元素。*/
